* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    max-width: 2000px;
    margin: auto;
    background-color: black;
}

main {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    background-color: black;
    overflow: hidden;
}

header {
    background-color: black;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.troca-lang {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 5rem;
    height: auto;
    background-color: transparent;
    cursor: pointer;
}

.troca-lang:hover .dropdown-lang {
    display: block;
    top: 2.8vw;
}

.troca-lang svg {
    width: 100%;
    height: 100%;
}

.menu {
    position: relative;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    cursor: pointer;
}

.menu:hover .dropdown-menu {
    display: block;
}

.menu svg {
    width: 100%;
    height: 100%;
}


.dropdown-lang {
    position: absolute;
    top: 4rem;
     background-color: black;
    color: white;
    width: 7rem;
    border-radius: 0.5rem;
    display: none;
}

.dropdown-lang a {
    display: block;
    padding: 0.5rem 1rem;
    text-align: c;
    color: white;
    text-decoration: none;
}

.dropdown-lang a:hover {
    background-color: grey;
}

.dropdown-lang a.selected {
    background-color: grey;
}

.dropdown-menu {
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: black;
    color: white;
    width: 7rem;
    border-radius: 0.5rem;
    display: none;
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: grey;
}

.imagem-header {
    background-color: brown;
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-principal {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    text-align: center;
}

.titulo-principal h1 {
    text-transform: uppercase;
    background-color: #D1DB58;
    padding: 1rem 5rem;
    font-size: 22pt;
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.primeiro-bloco {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10vw 3rem 0;
}

.imagem-lateral {
    width: 50%;
    height: auto;
}

.imagem-lateral img {
    width: auto;
    border-radius: 0 2rem  2rem 0;
    height: 30vw;
}

.texto-lateral {
    width: 30%;
    height: auto;
    text-align: center;
}

.parallax {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/ilustra-pb.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 0;
}

.parallax-conteudo {
    position: relative;
    z-index: 1; 
    text-align: center;
    color: white;
    padding: 10rem 0 10rem 0;
    width: 80%; 
}

.segundo-bloco {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.segundoBloco-txt {
    width: 100%;
    text-align: center;
    padding: 10vw;
}

h1 {
    padding-bottom: 1rem;
    color: white;
    font-size: 20pt;
}

p {
    font-size: 15pt;
    color: white;
}

#titulo-principal {
    color: black;
}

@media (max-width: 991.5px) {
    p {
        font-size: 2vw;
    }

    h1 {
        font-size: 3vw;
    }

    .texto-lateral {
        width: 40%;
    }

    .parallax-conteudo {
        padding: 5rem 0 5rem 0;
    }

    .segundoBloco-txt {
        width: 80%;
        text-align: center;
        padding: 5rem 0 5rem 0;
    }

    .titulo-principal h1 {
        font-size: 2.6vw;
    }
}

@media (max-width: 768px) {
    .texto-lateral {
        width: 40%;
    }

    .titulo-principal h1 {
        font-size: 3vw;
    }
}
