* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    max-width: 2000px;
    height: auto;
    margin: auto;
}

.texto h1, .texto p, .texto-esquerda h1, .texto-esquerda p {
    color: white;
}

.header-img {
    height: 100vh;
    width: 100%;
    background-color: blue;
}

.fundo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgb(153, 38, 38);
    flex-direction: column;
}

.container {
    width: 100%;
    background-color: black;
    height: auto;
    padding: 1rem;
}

.primeiro-bloco {
    width: 100%;
    height: 110vh;
    background-color: #EBEBEB;
    padding-left: 1rem;
}

.foto {
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 60%;
}

.bloco-intro {
    display: flex;
    width: 100%;
    height: 10rem;
    flex-direction: row;
    justify-content: space-between;
}

.intro {
    width: 50%;
    height: auto;
}

.card-dog {
    display: flex;
    align-items: center;
    width: 40%;
    height: 90%;
    background-color: blueviolet;
    border-radius: 70px 0 0 70px;
    padding: 1rem;
}

.card-dog img {
    width: 18vh;
    height: 18vh;
}

.bloco-conteudo {
    width: 100%;
    height: 70vh;
    background-color: black;
    padding-top: 2rem;
}

.titulo-principal h1 {
    font-size: 4.7rem;
}

.titulo-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1rem;
}

.fundo-txt1 {
    width: 64%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
}

.fundo-txt2 {
    width: 105%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
}

.fundo-txt3 {
    width: 84%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
}

.fundo-txt4 {
    width: 37%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-esquerda {
    width: 50%;
    height: auto;
    text-align: left;
}

.principal {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse; 
}

.visita {
    width: 100%;
    height: 30rem;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.texto {
    width: 50%;
    text-align: right;
}

.imagem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.imagem img {
    width: 80%;
    height: auto;
}

.titulo-comum {
    padding-bottom: 1rem;
}

p {
    font-size: 30px;
}

.texto p {
    padding-bottom: 2rem;
}

h1 {
    font-size: 45px;
}

#sublinhado {
    position: relative;
    display: inline-block;
}

#sublinhado::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; 
    background-color: yellow; 
    bottom: 16px;
    left: 0;
}






/* Responsividade */


@media (max-width: 1600px) {
    .visita {
        margin-top: 3rem;
    }

    .container {
        height: 131.5vh;
    }

    .foto img{
        width: 50rem;
        height: auto;
    }
}

@media (max-width: 1500px) {
    p {
        font-size: 25px;
    }

    h1 {
        font-size: 40px;
    }

    .container {
        height: 131.5vh;
    }
}

@media (max-width: 1375px) {
    .titulo-principal h1 {
        font-size: 3.7rem;
    }

    .bloco-conteudo {
        height: 80vh;
    }

    .container {
        height: 132vh;
    }

}

@media (max-width: 1240px) {
    .foto {
        height: 70%;
    }

    .container {
        height: 130vh;
    }
}

@media (max-width: 1155px) {
    .foto img {
        height: 20rem;
        width: auto;
    }

    .visita {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .imagem {
        justify-content: center;
    }

    .imagem img {
        width: 80%;
        height: auto;
    }

    .visita {
        margin-top: 5rem;
        height: 50rem;
    }

    .container {
        height: 179vh;
    }

    .bloco-conteudo {
        height: 85vh;
    }

    .texto {
        text-align: center;
    }
}

@media (max-width: 1090px) {
    .titulo-principal h1 {
        font-size: 3.0rem;
    }

    p {
        font-size: 20px;
    }

    h1 {
        font-size: 35px;
    }
    
    .bloco-conteudo {
        height: 60vh;
    }
    
    .principal {
        height: 20rem;
    }

    .visita {
        height: 40rem;
        margin-top: 1rem;
    }

    .container {
        height: 140vh;
    }
}

@media (max-width: 1000px) {
    .visita {
        margin-top: 5rem;
    }

    .bloco-conteudo {
        height: 70vh;
    }

    .container {
        height: 150vh;
    }
}

@media (max-width: 880px) {
    .titulo-principal h1 {
        font-size: 2.5rem;
    }

    .foto img {
        height: 18rem;
        width: auto;
    }

    .container {
        height: 150vh;
    }
}

@media (max-width: 830px) {
    .visita {
        margin-top: 10rem;
    }

    .bloco-conteudo {
        height: 85vh;
    }

    .container {
        height: 160vh;
    }
}

@media (max-width: 730px) {
    .foto {
        height: 50%;
    }

    .foto img {
        height: 16rem;
        width: auto;
    }
    
    .titulo-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }   

    .titulo-principal h1 {
        font-size: 2rem;
    }

    p {
        font-size: 17px;
    }

    h1 {
        font-size: 31px;
    }

    .principal {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .texto-esquerda {
        text-align: center;
        width: 90%;
        margin-top: 1rem;
        height: auto;
        margin-top: 5rem;
    }

    .primeiro-bloco {
        height: 95vh;
    }

    .bloco-conteudo {
        height: 75vh;
    }

    .visita {
        margin-top: 6rem;
    }

    .primeiro-bloco {
        height: 70vh;
    }

    .foto img {
        height: auto;
        width: 20rem;
    }

    .container {
        height: 149vh;
    }
}

@media (max-width: 590px) {
    .foto img {
        height: auto;
        width: 18rem;
    }

    .titulo-principal h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 17px;
    }

    h1 {
        font-size: 27px;
    }

    .visita {
        margin-top: 6.8rem;
    }

    .container {
        height: 150vh;
    }
}
